* {
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

[x-cloak] {
  display: none;
}

.fs-7 {
  font-size: 0.875rem;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.bgs-image {
  max-height: 320px;
}
.bgs-image > img {
  width: 100%;
  height: 100%;
  max-height: 320px;
  object-fit: contain;
}
