a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

[x-cloak] {
  display: none;
}

.fs-7 {
  font-size: 0.875rem;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.bgs-image {
  width: 100%;
  max-height: 416px;
  object-fit: contain;
}
