* {
  font-family: Arial, sans-serif;
}


/* Attributes */
[x-cloak] {
  display: none;
}

[\@click] {
  cursor: pointer;
}


/* Utils */
.fs-7 {
  font-size: 0.8rem;
}


/* Overrides */
.container {
  max-width: 992px;
}


/* Media Queries */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
