* {
  font-family: Arial, sans-serif;
}


/* Attributes */
input {
  width: 100%;
  border: none;
}
input:focus {
  outline: none;
}


/* Overrides */
.container {
  max-width: 992px;
}

.table {
  border: 1px solid #dee2e6;
}
.table th,
.table td {
  border: 1px solid #dee2e6;
}
.table th {
  background: #f2f2f2;
}


/* Media Queries */
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
